In [ ]:
import pandas as pd

In [ ]:
nba = pd.read_csv("data/nba.csv")

## Shared methods and Attributes

In [ ]:
nba.head(3)
nba.tail(4)

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.shape

In [ ]:
# it returns new series
nba.dtypes

In [ ]:
# array the represents column name
nba.columns

In [ ]:
# combine axis that constitutes DataFrame
nba.axes

In [ ]:
# summary of DataFrame
nba.info()

In [ ]:
# no. of cols by data type
nba.get_dtype_counts()

## Difference between shared methods

In [ ]:
rev = pd.read_csv("data/revenue.csv", index_col = "Date")
rev.head()

In [ ]:
# returns new series
rev.sum()

# But we can sum in different ways, row wise or column wise which is not present in Series

In [ ]:
# axis = 0,move along each row and sum every col
rev.sum(axis=0)

In [ ]:
# axis = 1 or axis = 'columns', move along column and sum in each row
rev.sum(axis=1)

## Select one column from DataFrame

In [ ]:
# Dot notation

# returns new series
nba.Name.head()

In [ ]:
# bracket notation
nba["Salary"].tail()

## Selecting Two or more Columns from DataFrame

In [ ]:
# returns new DataFrame

nba[["Name", "Salary"]].head()

In [ ]:
column_name = ['Salary', 'Team', 'Name']
nba[column_name].head(3)

## Adding new column to DataFrame

In [ ]:
# creates new column with each value to 'BasketBall'
nba["Sport"] = "BasketBall"
nba.head(3)

In [ ]:
nba["League"] = "National BasketBall Association"
nba.tail()

In [ ]:
# using insert method
nba = pd.read_csv("data/nba.csv")

nba.insert(3, column="Sport", value="Basketball")
nba.head(3)

In [ ]:
nba.insert(7, column="League", value="National Basketball Association")
nba.tail()

In [ ]:
nba.head()

## Broadcasting operations

In [ ]:
nba = pd.read_csv("data/nba.csv")
nba.head()

In [ ]:
nba["Age"].add(5).head()

In [ ]:
# another shortcut
nba = pd.read_csv("data/nba.csv")
nba["Age"] + 5

# or for other maths function
nba["Salary"].sub(500000)
nba["Salary"] - 500000

In [ ]:
# create new Series
nba["Weight"].mul(0.453592)
nba["Weight in Kgs"] = nba["Weight"].mul(0.453592)
nba.head()

## .value_counts() method

In [ ]:
nba = pd.read_csv("data/nba.csv")
nba.head()

In [ ]:
nba["Team"].value_counts(ascending=True).head(3)

## Drop Rows with null values

In [ ]:
# drop rows with any NaN value
nba.dropna()

In [ ]:
# it has parameter 'how' with defualt values = 'any'
nba.dropna(how='all')

In [ ]:
# to drop permanently, use inplace = True
nba.dropna(how='all', inplace=True)

In [ ]:
nba.shape

In [ ]:
# to drop column wise
nba.dropna(axis = 1)

In [ ]:
# drop null values in specific columns
nba.dropna(subset=["Salary"])

## Fill null values with .fillna() method

In [ ]:
nba = pd.read_csv("data/nba.csv")
nba.head()

In [ ]:
nba["Salary"].fillna(0, inplace=True)
nba.head()

In [ ]:
nba["College"].fillna("No College", inplace=True)
nba.head()

## .astype() method

In [ ]:
# converts data type of series, it won't work for null values

nba = pd.read_csv("data/nba.csv").dropna(how='all')
nba["Salary"].fillna(0, inplace=True)
nba["College"].fillna("No College", inplace=True)
nba.head(6)

In [ ]:
nba.info()

In [ ]:
nba["Salary"].astype("int")

# but astype doesnot have inplace
nba["Salary"] = nba["Salary"].astype("int")
nba["Age"] = nba["Age"].astype("int")
nba.info()

In [ ]:
# categorising series as per unique values
nba["Position"] = nba["Position"].astype("category")
nba.info()

In [ ]:
nba["Team"].nunique()

In [ ]:
nba["Team"] = nba["Team"].astype("category")
nba.info()

## .sort_values() method

In [ ]:
nba = pd.read_csv("data/nba.csv")
nba.head()

In [ ]:
nba.sort_values("Name", ascending=False)

In [ ]:
# sorting DataFrame on multiple columns
nba.sort_values(["Team", "Name"]).head(5)

In [ ]:
# we can pass boolean values for ascending for each column
nba.sort_values(["Team", "Name"], ascending=[True, False]).head(10)

## sorting DataFrame with .sort_index()

In [ ]:
nba = pd.read_csv("data/nba.csv")
nba.head()

In [ ]:
nba.sort_index(ascending=False).head(3)

## Rank values with .rank() Method

In [ ]:
nba = pd.read_csv("data/nba.csv").dropna(how='all')
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba.head(3)

In [ ]:
nba["Salary Rank"] = nba["Salary"].rank(ascending=False).astype("int")
nba.head()

In [ ]:
nba.sort_values("Salary", ascending=False)